section.blog
  .container.blog__container
    h2.title.blog__title
    .post-filter.blog__post-filter
      ul.post-filter__list
        li.post-filter__item
          a.post-filter__link(href="#") all
        li.post-filter__item
          a.post-filter__link(href="#") reviews
        li.post-filter__item
          a.post-filter__link(href="#") looks
        li.post-filter__item
          a.post-filter__link(href="#") lifestyles
        li.post-filter__item
          a.post-filter__link(href="#") tips
        li.post-filter__item
          a.post-filter__link(href="#") tutorials
    .threads.blog__threads
      .threads__item.threads__item--highlight
        img(src=require("../img/blog-pic/blog-1.png"), alt="Picture for subject")
        p.threads__title
          | hollywood hairstyles do not require a trip
          | to a hight priced salon or beautician
        p.thread__about
          span.thread__author Eugenia Frank
          span.thread__date April
      .threads__item
        img(src=require("../img/blog-pic/blog-2.png"), alt="Picture for subject")
        p.threads__title
          | forehead lift brow lift temporal lift
          | for head rejuvenation
        p.thread__about
          span.thread__author Eugenia Frank
          span.thread__date April
      .threads__item
        img(src=require("../img/blog-pic/blog-3.png"), alt="Picture for subject")
        p.threads__title
          | forehead lift brow lift temporal lift
          | for head rejuvenation
        p.thread__about
          span.thread__author Eugenia Frank
          span.thread__date April
      .threads__item
        img(src=require("../img/blog-pic/blog-4.png"), alt="Picture for subject")
        p.threads__title
          | forehead lift brow lift temporal lift
          | for head rejuvenation
        p.thread__about
          span.thread__author Eugenia Frank
          span.thread__date April
      .threads__item
        img(src=require("../img/blog-pic/blog-5.png"), alt="Picture for subject")
        p.threads__title
          | forehead lift brow lift temporal lift
          | for head rejuvenation
        p.thread__about
          span.thread__author Eugenia Frank
          span.thread__date April
    button.button.button--black.blog__btn see more


